---
import OptimizedImage from "@/components/utilities/OptimizedImage.astro";
import { markdownify } from "@/lib/utils/textConverter";

type Props = {
  subtitle?: string;
  title?: string;
  teaserImage?: string;
  teaserImageAlt?: string;
};

const { subtitle, title, teaserImage, teaserImageAlt } = Astro.props;
const hasContent = Astro.slots.has("default");
const hasImage = teaserImage && teaserImage.trim() !== "";
const hasHeading = subtitle || title;
const showSection = hasHeading || hasContent || hasImage;
---

{
  showSection && (
    <section class="overflow-hidden">
      <div class="container">
        <div class="grid grid-cols-1 items-center gap-6 overflow-x-hidden lg:grid-cols-2 lg:gap-12">
          <div
            class="flex flex-col justify-center lg:order-1"
            data-aos="fade-right-sm">
            {hasHeading && (
              <div class="mb-6">
                {subtitle && (
                  <span
                    class="bg-primary/5 border-secondary text-primary mb-2.5 inline-block rounded-full border px-5 py-px"
                    set:html={markdownify(subtitle)}
                  />
                )}
                {title && (
                  <h2
                    class="text-h3 text-inherit"
                    set:html={markdownify(title)}
                  />
                )}
              </div>
            )}
            {hasContent && (
              <div class="prose-styles max-w-xl">
                <slot />
              </div>
            )}
          </div>
          {hasImage && (
            <div
              class="flex justify-center lg:order-2"
              data-aos="fade-left-sm"
              data-aos-delay="200">
              <OptimizedImage
                src={teaserImage!}
                alt={teaserImageAlt || "About us"}
                class="w-full object-cover md:max-h-[400px] lg:max-h-[500px]"
              />
            </div>
          )}
        </div>
      </div>
    </section>
  )
}
