.ticker-wrapper {
    overflow: hidden;
    width: 100vw;
    background: #0f0f0f;
    padding: 1rem 0;
    position: relative;
  }
  
  .ticker-track {
    display: flex;
    width: max-content;
    animation: ticker-scroll 25s linear infinite; /* THIS IS WHAT CONTROLS THE SPEED*/
  }
  
  
  
  .ticker-item {
    flex: 0 0 auto;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
    /* animation: float 3s ease-in-out infinite alternate; */
    animation: ticker-float 4s ease-in-out infinite alternate;
  
  }
  
  .ticker-item img:hover {
    /* There's a bug with making them increase slightly on hover, so for now this stays commented out.
    transform: scale(1.15); */
    /* transform: scale(1.15); */
    opacity: 1;
  }
  
  .ticker-item img,
  .ticker-item svg {
    max-height: 75px; /*If you change the height HERE, it will make the whole tickerbelt bigger and responsive to size as needed */
    object-fit: contain;
    filter: grayscale(100%) brightness(1.2);
    transition: filter 0.3s ease;
    margin: 2rem;
  }
  
  /* THIS IS WHAT MAKES ICONS CHANGE COLOR */
  .ticker-item:hover img,
  .ticker-item:hover svg {
    filter: grayscale(0%) brightness(1.1); 
  } 
  
  @keyframes ticker-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes ticker-float {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(3px); /* subtle bounce down - but Its hard to notice. keep it this way for now.*/
    }
  }
  
  
  .ticker-wrapper::before,
  .ticker-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }
  
  .ticker-wrapper::before {
    left: 0;
    background: linear-gradient(to right, #0f0f0f 0%, transparent 100%);
  }
  
  .ticker-wrapper::after {
    right: 0;
    background: linear-gradient(to left, #0f0f0f 0%, transparent 100%);
  }