/*
ALL FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
body {
  font-family: 'Space Grotesk', sans-serif;
}

/*--------------------------------------------------------------------------------------------------*/

/*
COLOR PALETTES:
*/

/* LIGHT MODE */
:root {
    --brand-blue-standard:#3cb4e5;
    --brand-blue-medium:#8cccee;
    --brand-blue-light:#c8e5f6;
}

/* DARK MODE */
[data-theme="dark"] {
    --brand-blue-standard-dark: #1e5f85;  
    --brand-blue-medium-dark: #4a8ab3;   
    --brand-blue-light-dark: #739fc0; 
}
