/* src/styles/global.css */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Color Palette */
:root {
    --h1-color:#000000;
    --primary-color:#1b44b8;  /* Purple */
    --secondary-color:#1a3977;  /* Navy Blue */
    --accent-color:#fb5461;  /* Red */
    --text-color:#434343;  /* Dark text */
    --background-color:#dbdee6;  /* Gray */
    /* Company Brand Palette */
    --brand-blue-standard:#3cb4e5;
    --brand-blue-medium:#8cccee;
    --brand-blue-light:#c8e5f6;
}

/* Body Styles */
body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: var(--h1-color)
}
/* Link Styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Header and Footer Common Styles */
header, footer {
    background-color: var(--primary-color);
    color: white;
}

footer {
    padding: 1rem;
    text-align: center;
}
.top-mega-menu {
    position: fixed;         /* Keep it on top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  
    transition: all 0.3s ease-in-out; /* Smooth transition for menu changes */         /* Make sure it stays above everything else */
  }
  
  .glassy-menu {
    padding: 0.5rem !important;
    background-color: rgba(0, 213, 255, 0.51);  /* Teal with 50% opacity */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: padding 0.2s ease-in-out, background-color 0.2s ease-in-out;
    /* border-radius: 0rem; */
    border: none;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); Optional soft border */
  }
  .glassy-menu a{
   border-radius: 10px !important;
   text-decoration: none;
   color: white;
   background-color:rgb(97, 146, 216);
  }
  .glassy-menu a:hover {
    text-decoration: none;
    color: white;
    background-color:rgb(0, 74, 164)!important;
   }
   .glassy-menu a:active {
    color: white !important;
    background-color: rgb(0, 60, 140) !important;
    }
    .glassy-menu a:focus {
        outline: none;
        border-radius: 10px;
        background-color: rgb(0, 90, 180) !important;
        color: white !important;
    }
    

  .glassy-menu .megamenu-logo {
    width: 180px;
    height: 80px;
    object-fit: contain;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
  /* When scrolled */
.top-mega-menu.scrolled .glassy-menu {
    padding: 2rem 2rem;
}

.top-mega-menu.scrolled .megamenu-logo {
    width: 150px;
    height: 40px;
}
.p-megamenu-root-list {
    padding: 0!important;
}
.p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content {
    border-radius: 10px !important;
}