body {
  color: #232129;
  padding: 96px;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 64px;
  max-width: 320px;
}

h1 .accent {
  color: #663399;
}

p {
  margin-bottom: 48px;
}

code {
  color: #8A6534;
  padding: 4px;
  background-color: #FFF4DB;
  font-size: 1.25rem;
  border-radius: 4px;
}

ul {
  margin-bottom: 96px;
  padding-left: 0;
}

li {
  font-weight: 300;
  font-size: 24px;
  max-width: 560px;
  margin-bottom: 30px;
}
headingAccentStyles {
font-weight: 300;
  font-size: 24px;
  max-width: 560px;
  margin-bottom: 30px;
}
listItemStyles {
    font-weight: 300;
    font-size: 24px;
    max-width: 560px;
    margin-bottom: 30px;
}
a {
  color: #8954A8;
  font-weight: bold;
  font-size: 16px;
  vertical-align: 5%;
  text-decoration: none;
}

.docLink {
  list-style-type: none;
  margin-bottom: 24px;
}
linkStyle {
    color: #8954A8;
    font-weight: bold;
    font-size: 16px;
    vertical-align: 5%;
    text-decoration: none;
  }


.badge {
  color: #fff;
  background-color: #088413;
  border: 1px solid #088413;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
  padding: 4px 6px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
  line-height: 1;
}
