/* src/styles/global.css */

/* Color Palette */
:root {
    --primary-color:rgb(37, 121, 211);  /* Primary blue */
    --secondary-color: #f8f9fa;  /* Light gray */
    --accent-color:rgb(114, 149, 218);  /* Green */
    --text-color: #333333;  /* Dark text */
    --background-color: #ffffff;  /* White */
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Link Styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Header and Footer Common Styles */
header, footer {
    background-color: var(--primary-color);
    color: white;
}

footer {
    padding: 1rem;
    text-align: center;
}
