.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.outer-layout {
    display: flex;
    /* flex-direction: column; */
}

.content {
    flex: 1;
    
    /* padding: 2rem; */
}

.home-content h1 {
    color: #333;
}

.home-content p {
    font-size: 1.2rem;
}
