.about-content {
  min-width: 100vw;
}


.about-card {
    width: 300px;
    text-align: center;
  }
  
  .photo-container {
    margin-bottom: 20px;
  }
  
  .circle-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card-content h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .card-content p {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .card-content .p-button {
    margin-top: 10px;
  }

  