/* src/components/Header.css */
header {
    padding: 1rem;
}

.p-menubar {
    background-color: --primary-color;
}

.p-menubar .p-menuitem-link {
    color: white;
}

.p-menubar .p-menuitem-link:hover {
    background-color: #0056b3;
}
