---
import Nav from './Nav.astro';
---
<header class="site-header">
  <div class="header-inner">
    <a href="" class="site-logo" aria-label="KSM Technology Partners home">
      <img src={`${import.meta.env.BASE_URL}KSM_Logo_2c_Blue.svg`} alt="KSM Technology Partners" />
    </a>
    <Nav />
  </div>
</header>
