/* src/pages/HomePage.css */

.landing-container {
    /* padding: 2rem; */
    position: relative;
    bottom: 7.5rem;
}

/* Hero Section */
.hero-section {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-image: url(../../images/notRealImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(45deg,var(--secondary-color),var(--brand-blue-light)); */
    color: white;
    text-align: center;

}

.hero-section h1 {
    font-size: 9.5rem;
    margin-bottom: 1rem;
  color: var(--brand-blue-standard);
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    padding: 1rem 2rem;
    background-color:var(--brand-blue-standard);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--secondary-color);
    color: white;
    text-decoration:none;
}

/* Features Section */
.features-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.feature {
    text-align: center;
    width: 30%;
}

.feature h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature p {
    font-size: 1.2rem;
}

/* Image Section */
.image-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}



/* Hero.css */

.clean-reveal {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: #1a1a1a;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
  animation-delay: 0.4s;
}

.clean-reveal::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: white;
  transform: translateX(0);
  animation: wipeReveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

@keyframes wipeReveal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

